/* BWBH 1 */

position: absolute;
width: 181px;
height: 57.14px;
left: 100px;
top: 0px;

background: #FFFFFF;


/* Vector */

positio: absolute;
left: 63.17%;
right: 1.35%;
top: 99.75%;
bottom: 0%;

background: #F8D2A8;


/* Vector */

position: absolute;
left: 26.82%;
right: 59.17%;
top: 12.26%;
bottom: 59.21%;

background: #EF8505;


/* Vector */

position: absolute;
left: 0.13%;
right: 89.85%;
top: 2.82%;
bottom: 59.2%;

background: #EF8505;


/* Vector */

position: absolute;
left: 90.13%;
right: 0.08%;
top: 0.56%;
bottom: 59.21%;

background: #EF8505;


/* Vector */

position: absolute;
left: 10.15%;
right: 80.33%;
top: 12.76%;
bottom: 58.42%;

background: #EF8505;


/* Vector */

position: absolute;
left: 66.45%;
right: 19.85%;
top: 13.25%;
bottom: 59.05%;

background: #EF8505;


/* Vector */

position: absolute;
left: 16.55%;
right: 75.63%;
top: 61.49%;
bottom: 8.75%;

background: #060606;


/* Vector */

position: absolute;
left: 40.85%;
right: 50.94%;
top: 12.25%;
bottom: 58.35%;

background: #EF8505;


/* Vector */

position: absolute;
left: 19.81%;
right: 73.24%;
top: 12.21%;
bottom: 58.42%;

background: #EF8505;


/* Vector */

position: absolute;
left: 56.48%;
right: 36.57%;
top: 12.26%;
bottom: 58.37%;

background: #EF8505;


/* Vector */

position: absolute;
left: 49.37%;
right: 43.68%;
top: 12.26%;
bottom: 58.41%;

background: #EF8505;


/* Vector */

position: absolute;
left: 40.62%;
right: 52.89%;
top: 60.28%;
bottom: 8.78%;

background: #060606;


/* Vector */

position: absolute;
left: 25.58%;
right: 68%;
top: 68.28%;
bottom: 8.29%;

background: #060606;


/* Vector */

position: absolute;
left: 47.69%;
right: 45.5%;
top: 68.31%;
bottom: 8.31%;

background: #060606;


/* Vector */

position: absolute;
left: 84.11%;
right: 9.74%;
top: 5.21%;
bottom: 58.39%;

background: #EF8505;


/* Vector */

position: absolute;
left: 80.09%;
right: 15.61%;
top: 12.44%;
bottom: 59.22%;

background: #EF8505;


/* Vector */

position: absolute;
left: 33.44%;
right: 61.02%;
top: 68.31%;
bottom: 8.3%;

background: #060606;


/* Vector */

position: absolute;
left: 55.65%;
right: 39.9%;
top: 62.58%;
bottom: 8.53%;

background: #060606;


/* Vector */

position: absolute;
left: 80.72%;
right: 16.36%;
top: 0.53%;
bottom: 90.81%;

background: #EF8505;


/* Vector */

position: absolute;
left: 27.5%;
right: 69.61%;
top: 0.51%;
bottom: 90.81%;

background: #EF8505;


/* Rectangle 1204 */

position: absolute;
left: 62.4%;
right: 0.75%;
top: 50.1%;
bottom: 0.35%;

background: linear-gradient(270deg, #EF8505 0%, #FBC37F 112.74%);
border-radius: 2.51695px;


/* Vector */

position: absolute;
left: 65.93%;
right: 26.32%;
top: 61.47%;
bottom: 8.82%;

background: #FEFDFD;


/* Vector */

position: absolute;
left: 75.73%;
right: 17.9%;
top: 68.8%;
bottom: 8.2%;

background: #FEFDFD;


/* Vector */

position: absolute;
left: 84.11%;
right: 9.5%;
top: 68.29%;
bottom: 8.78%;

background: #FEFDFD;


/* Vector */

position: absolute;
left: 91.88%;
right: 3.69%;
top: 62.61%;
bottom: 8.55%;

background: #FEFDFD;
